@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  border: 1px solid transparent;
  border-image-source: linear-gradient(to bottom right, #7878fa, #7878fa00);
  border-image-slice: 1;
  box-shadow: 4px 4px 20px 8px #7878fa26;
  border: none;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .progress-bar::-webkit-progress-bar {
    @apply bg-gray-200 rounded-lg  h-[60%];
  }
  .progress-bar.btc::-webkit-progress-value {
    @apply bg-orange-500 rounded-lg;
  }
  .progress-bar.eth::-webkit-progress-value {
    @apply bg-[#849DFF] rounded-lg;
  }
}
